# '+','-' and 'df1.add.(df2,fill_value=...)'

In [1]:
import numpy as np
import pandas as pd

In [2]:
s1 = pd.Series(np.arange(5),index=['A','B','C','D','E'])
s1

A    0
B    1
C    2
D    3
E    4
dtype: int32

In [3]:
s2 = pd.Series(np.arange(3),index=['A','B','C'])
s2

A    0
B    1
C    2
dtype: int32

In [4]:
s1 + s2

A    0.0
B    2.0
C    4.0
D    NaN
E    NaN
dtype: float64

In [5]:
df1 = pd.DataFrame(np.random.randn(4,5),index=['r1','r2','r3','r4'],columns=['c1','c2','c3','c4','c5'])
df1

          c1        c2        c3        c4        c5
r1  0.341760 -1.001838 -1.064606  1.265637  0.720957
r2 -2.121698  0.047550 -0.029291  0.120552 -0.242424
r3 -1.198033 -0.835234 -0.603033  2.018037 -0.158026
r4  0.081438  0.026579 -0.746235  1.183737  0.858120

In [6]:
df2 = pd.DataFrame(np.random.randn(3,4),index=['r1','r2','r3'],columns=['c1','c2','c3','c4'])
df2

          c1        c2        c3        c4
r1 -1.388873 -1.683610 -0.650580  0.424021
r2  0.009607 -0.693109 -0.715106  0.463087
r3  1.261926 -1.366708 -0.960987 -0.186040

In [7]:
df1+df2 #different size of the array added up using '+', different part of the size return NaN

          c1        c2        c3        c4  c5
r1 -1.047113 -2.685448 -1.715186  1.689658 NaN
r2 -2.112091 -0.645558 -0.744397  0.583639 NaN
r3  0.063892 -2.201942 -1.564020  1.831997 NaN
r4       NaN       NaN       NaN       NaN NaN

In [8]:
df1.add(df2,fill_value=100)   #use 'fill_value' +df1 for the different part of the size

            c1          c2         c3          c4          c5
r1   -1.047113   -2.685448  -1.715186    1.689658  100.720957
r2   -2.112091   -0.645558  -0.744397    0.583639   99.757576
r3    0.063892   -2.201942  -1.564020    1.831997   99.841974
r4  100.081438  100.026579  99.253765  101.183737  100.858120

In [9]:
s3 = df1.iloc[0]  # select first row
s3

c1    0.341760
c2   -1.001838
c3   -1.064606
c4    1.265637
c5    0.720957
Name: r1, dtype: float64

In [10]:
df2 - s3 #opposite to '+'

          c1        c2        c3        c4  c5
r1 -1.730632 -0.681773  0.414025 -0.841616 NaN
r2 -0.332153  0.308729  0.349500 -0.802550 NaN
r3  0.920166 -0.364870  0.103618 -1.451676 NaN