### 这一小节我们来学习 replace 注意 replace是针对 value来说的, not for index/column

In [1]:
import numpy as np
import pandas as pd 
from pandas import Series, DataFrame

In [10]:
# Lets make  Series
ser1 = Series([1,2,3,4,1],index=['a','b','c','d','e'])

In [11]:
ser1

a    1
b    2
c    3
d    4
e    1
dtype: int64

- replace single value in values

In [12]:
# Use.replace(value to be replaced, new_value) # note: .replace default inplace=Flase. 
ser1.replace(1,np.nan)

a    NaN
b    2.0
c    3.0
d    4.0
e    NaN
dtype: float64

In [13]:
ser1 # note: .replace default inplace=Flase.

a    1
b    2
c    3
d    4
e    1
dtype: int64

In [15]:
ser1.replace(1,np.nan, inplace=True) #note: once inplace=True, it will change ser1, 
                                    # but it will not return anything in this setting, compared to above: when default, it returns

In [16]:
ser1

a    NaN
b    2.0
c    3.0
d    4.0
e    NaN
dtype: float64

In [6]:
ser1.replace?

- use list to replace a list of value.

In [17]:
#Can also input lists
ser1.replace([2,4],[100,400],inplace=True) # 2->100; 4->400

In [18]:
ser1

a      NaN
b    100.0
c      3.0
d    400.0
e      NaN
dtype: float64

- use Dictionary to replace specific value.

In [19]:
#Can also input dictionary
ser1.replace({400:4},inplace=True)

In [20]:
ser1

a      NaN
b    100.0
c      3.0
d      4.0
e      NaN
dtype: float64